<div class="photo-gallery-list">
    {% assign photo_posts = site.posts %}
    {% for post in photo_posts limit: 6 %}
        {% assign post_categories = post.categories | downcase %}
        {% unless post.draft %}
            <div class="photo-wrapper">
                <div class="photo-poster">
                    <a href="{{ site.baseurl }}{{ post.url }}">
                        <div class="date">
                            {% include datetime.liquid datetime=post.date %}
                        </div>
                        <h3 class="title">
                            {{ post.title }}
                        </h3>
                        {% if post.galleries %}
                            {% for gallerySlug in post.galleries %}
                                {% assign gallery = site.data.galleries[gallerySlug] %}
                                {% if gallery.contents %}
                                    {% assign photos = gallery.contents %}
                                    {% if gallery.poster %}
                                        <div class="photo lazyload" data-bg="{{ site.baseurl }}/assets/photos/galleries/{{ gallerySlug }}/{{ gallery.poster }}"></div>
                                    {% else %}
                                        {% for photo in photos limit:1 %}
                                            <div class="photo lazyload" data-bg="{{ site.baseurl }}/assets/photos/galleries/{{ gallerySlug }}/{{ photo.filename }}"></div>
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <div class="photo faded" style="background-image: url({{ site.baseurl }}/assets/img/photo-blog-default-poster.jpg);"></div>
                        {% endif %}
                    </a>
                </div>
            </div>
        {% endunless %}
    {% endfor %}
</div>
